*{
    box-sizing: border-box;
       
}
body {
    width: 100vw;
    height: 100vh;
    background: url('https://img.freepik.com/premium-vector/purple-web-development-background_76964-167.jpg');
    background-size: cover;
  }
.Project_Styling{
    background-color: white;
    border-radius: 15px;
    width: 30%;
    height: 75%;
    margin: 100px;
    padding: 10px 10px;
    transition: all 3s ease;
    cursor: pointer;
    box-shadow: rgb(3, 91, 168) -5px -5px 6px 0px inset;
    
    
}
.Project_Styling :hover{
    transform: scale(5s) ;
    -o-transition-duration: infinite;
}
.Project_Styling h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px blue;
    
    
}
.Project_Styling p{
    font-size: 22px;
}
a{
    text-decoration: none;
}
.Project_Styling ul li {
    list-style: square ;
}