.body{
margin: 25%;
margin-top: 50px;
}
   
.settings{

    border: 5px solid black;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20%;

}
div img{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

div img:hover {
    filter:opacity(10);
    transform: scale(0.8);
}